<!--#include file="header.html" -->

<h2>Download</h2>

<p>

The latest stable release is <b>2014.02</b>, which can be downloaded
here:<p>

<a href="/downloads/buildroot-2014.02.tar.gz">buildroot-2014.02.tar.gz</a>
(<a href="/downloads/buildroot-2014.02.tar.gz.sign">PGP signature</a>)
or
<a href="/downloads/buildroot-2014.02.tar.bz2">buildroot-2014.02.tar.bz2</a>
(<a href="/downloads/buildroot-2014.02.tar.bz2.sign">PGP signature</a>).

<p>

The latest release candidate is <b>2014.05-rc3</b>, which can be
downloaded here:<p>

<a href="/downloads/buildroot-2014.05-rc3.tar.gz">buildroot-2014.05-rc3.tar.gz</a>
(<a href="/downloads/buildroot-2014.05-rc3.tar.gz.sign">PGP signature</a>)
or
<a href="/downloads/buildroot-2014.05-rc3.tar.bz2">buildroot-2014.05-rc3.tar.bz2</a>
(<a href="/downloads/buildroot-2014.05-rc3.tar.bz2.sign">PGP signature</a>).
<p>

This and earlier releases (and their PGP signatures) can always be downloaded from
<a href="/downloads/">http://buildroot.net/downloads/</a>.

<p>

You can also obtain <a href="/downloads/snapshots/">Daily
Snapshots</a> of the latest Buildroot source tree if you want to to
follow development, but cannot or do not wish to use Git.

<ul>
	<li> Click here to <a href="downloads/snapshots/">Daily Snapshots</a>.
	</li>

	<li> Click here to <a href="http://git.buildroot.net/buildroot">browse the source tree</a>.
	</li>

</ul>


<h2>Repository</h2>

The buildroot repository can be browsed online through cgit at
<a href="http://git.buildroot.net/buildroot/">http://git.buildroot.net/buildroot</a>.
To grab a copy of the repository use

<pre>
git clone git://git.buildroot.net/buildroot</pre>

Or if you're behind a firewall blocking git:

<pre>
git clone http://git.buildroot.net/git/buildroot.git</pre>

<p>

Please use the native git protocol if at all possible, as it's a lot
more efficient than HTTP.

<p>

If you are not already familiar with using Git, we recommend you visit <a
href="http://git-scm.org">the Git website</a>.

<p>

Once you've checked out a copy of the source tree, you can update your source
tree at any time so it is in sync with the latest and greatest by entering your
buildroot directory and running the command:

<pre>
git pull
</pre>

Because you've only been granted anonymous access to the tree, you won't be
able to push your changes to the repo. Changes can instead be submitted for
inclusion by posting them to the buildroot mailing list.

<!--#include file="footer.html" -->
